.about {

  background-color: #050a43;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  gap:120px;
}

.about__title{
  padding-top: 120px;
  padding-left: 30px;
  padding-bottom: 200px;
  z-index: 1;
  margin: 0;
  max-width: 200px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;

}


.about__circle {
  background-color: #2f80ed;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  position: absolute;
  left: -205px;
  top: -140px;
  z-index: 0;
}

.about__content{
  display: block;

  padding-top: 120px;
  padding-bottom: 100px;
  padding-left:500px;
  padding-right: 30px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 200;
  max-width: 660px;
  z-index: 1;



}

.about__content-text{

  padding-top: 30px;
  font-family: "Noto Serif","Times New Roman",serif;
  font-size: 20px;
  line-height: 30px;

}