

.card__content{
display: block;
  padding-top: 30px;
  list-style-type: none;
max-width: 800px;
padding-left: 0;
margin-bottom: 30px;

}

.card__title{

  padding-bottom: 25px;
  font-family: "Noto Serif","Times New Roman",serif;
  font-size: 20px;
  line-height: 30px;
  font-weight:bold;
}



.card__item{
  display: flex;
  line-height: 5px;
  width: 600px;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*justify-content: space-between; (investigando otra manera de separar los precios)*/
  font-size: 16px;
}


.card__item-name{

  white-space: nowrap;
  box-sizing: border-box;
}

.card__separation {
flex-grow: 1;
 /*white-space: nowrap;
 width: 100%;(investigando llegue a ese resultado para separar los precios)*/
  height: 10px;
  border-bottom: solid  ;
  border-width: 1px;


}
