

.footer {
  box-sizing: border-box;
  background-color: #000000;
  color:#fff;
  padding: 60px 80px;

}

.footer__columns{

}

.footer__logo{

}
.footer__columns_content-social{

}

.footer__copyright{

}

.footer__column-heading{

}

.footer__list{

}

.footer__list-item{

}

.footer__column-link{

}

.footer__social-icon{

}


