


.menu{

  background-image: url(../images/background_menu.svg);
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #000000;
  font-family: 'Helvetica', 'Arial', sans-serif;

}

.menu__title{

  text-align: center;
  padding-top: 80px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__description{
  text-align: center;
  padding-bottom: 55px;
  font-family: "Noto Serif","Times New Roman",serif;
  font-size: 20px;
  line-height: 30px;
  }




